USE [QLyChungCu]
GO
ALTER TABLE [dbo].[RAVAO_TRANGTHAICAMERA] DROP CONSTRAINT [for_key10]
GO
ALTER TABLE [dbo].[RAVAO_THOILUONG] DROP CONSTRAINT [pkey_2]
GO
ALTER TABLE [dbo].[RAVAO_LICHSU] DROP CONSTRAINT [key_9]
GO
ALTER TABLE [dbo].[RAVAO_HINH] DROP CONSTRAINT [key_2]
GO
ALTER TABLE [dbo].[PHONG] DROP CONSTRAINT [FK_PHONG_THONGBAO]
GO
ALTER TABLE [dbo].[PHONG] DROP CONSTRAINT [FK_PHONG_TAIKHOAN]
GO
ALTER TABLE [dbo].[PHONG] DROP CONSTRAINT [FK_PHONG_SUCO]
GO
ALTER TABLE [dbo].[PHONG] DROP CONSTRAINT [FK_PHONG_CHINHANH]
GO
ALTER TABLE [dbo].[DANCU] DROP CONSTRAINT [FK_CUDAN_PHONG]
GO
/****** Object:  Table [dbo].[RAVAO_TRANGTHAICAMERA]    Script Date: 1/11/2022 10:04:53 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RAVAO_TRANGTHAICAMERA]') AND type in (N'U'))
DROP TABLE [dbo].[RAVAO_TRANGTHAICAMERA]
GO
/****** Object:  Table [dbo].[RAVAO_THOILUONG]    Script Date: 1/11/2022 10:04:53 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RAVAO_THOILUONG]') AND type in (N'U'))
DROP TABLE [dbo].[RAVAO_THOILUONG]
GO
/****** Object:  Table [dbo].[RAVAO_TAIKHOAN]    Script Date: 1/11/2022 10:04:53 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RAVAO_TAIKHOAN]') AND type in (N'U'))
DROP TABLE [dbo].[RAVAO_TAIKHOAN]
GO
/****** Object:  Table [dbo].[RAVAO_LICHSU]    Script Date: 1/11/2022 10:04:53 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RAVAO_LICHSU]') AND type in (N'U'))
DROP TABLE [dbo].[RAVAO_LICHSU]
GO
/****** Object:  Table [dbo].[RAVAO_LAMAT]    Script Date: 1/11/2022 10:04:53 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RAVAO_LAMAT]') AND type in (N'U'))
DROP TABLE [dbo].[RAVAO_LAMAT]
GO
/****** Object:  Table [dbo].[RAVAO_HINH]    Script Date: 1/11/2022 10:04:53 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RAVAO_HINH]') AND type in (N'U'))
DROP TABLE [dbo].[RAVAO_HINH]
GO
/****** Object:  Table [dbo].[PHONG]    Script Date: 1/11/2022 10:04:53 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PHONG]') AND type in (N'U'))
DROP TABLE [dbo].[PHONG]
GO
/****** Object:  Table [dbo].[DANCU]    Script Date: 1/11/2022 10:04:53 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DANCU]') AND type in (N'U'))
DROP TABLE [dbo].[DANCU]
GO
/****** Object:  Table [dbo].[DANCU]    Script Date: 1/11/2022 10:04:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANCU](
	[MADCU] [nvarchar](40) NOT NULL,
	[CMND] [nvarchar](20) NULL,
	[TENCUDAN] [nvarchar](50) NULL,
	[NGAYSINH] [date] NULL,
	[GIOITINH] [nvarchar](10) NULL,
	[NOISINH] [nvarchar](50) NULL,
	[QUEQUAN] [nvarchar](100) NULL,
	[SDT] [nvarchar](15) NULL,
	[DANTOC] [nvarchar](20) NULL,
	[QUOCTICH] [nvarchar](20) NULL,
	[NOITHUONGTRU] [nvarchar](100) NULL,
	[NGAYCAP] [date] NULL,
	[NOICAP] [nvarchar](50) NULL,
	[TIENGDANTOC] [nvarchar](20) NULL,
	[NGHENGHIEP] [nvarchar](50) NULL,
	[EMAIL] [nvarchar](50) NULL,
	[TRANGTHAI] [bit] NULL,
	[VAITRO] [nvarchar](50) NULL,
	[MAPHONG] [nvarchar](30) NULL,
	[NOILAMVIEC] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MADCU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHONG]    Script Date: 1/11/2022 10:04:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONG](
	[MAPHONG] [nvarchar](30) NOT NULL,
	[GIAPHONG] [int] NULL,
	[SONGUOI] [nvarchar](10) NULL,
	[TINHTRANGPHONG] [nvarchar](50) NULL,
	[MATB] [nvarchar](10) NULL,
	[MASUCO] [nvarchar](10) NULL,
	[MATK] [nvarchar](30) NULL,
	[MACN] [nvarchar](10) NULL,
	[SOPHONG] [nvarchar](10) NULL,
 CONSTRAINT [PK__PHONG__CE71B252AC0A3995] PRIMARY KEY CLUSTERED 
(
	[MAPHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RAVAO_HINH]    Script Date: 1/11/2022 10:04:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RAVAO_HINH](
	[IDHINH] [int] IDENTITY(1,1) NOT NULL,
	[IDDANCU] [nvarchar](40) NOT NULL,
	[TENHINH] [varchar](50) NULL,
 CONSTRAINT [key_1] PRIMARY KEY CLUSTERED 
(
	[IDHINH] ASC,
	[IDDANCU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RAVAO_LAMAT]    Script Date: 1/11/2022 10:04:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RAVAO_LAMAT](
	[ID_LAMAT] [int] IDENTITY(1,1) NOT NULL,
	[HINH] [varchar](50) NULL,
	[CAMERA] [nvarchar](10) NULL,
	[THOIDIEM] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_LAMAT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RAVAO_LICHSU]    Script Date: 1/11/2022 10:04:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RAVAO_LICHSU](
	[IDDANCU] [nvarchar](40) NOT NULL,
	[THOIGIAN] [datetime] NOT NULL,
	[CAMERA] [nvarchar](10) NULL,
 CONSTRAINT [key_8] PRIMARY KEY CLUSTERED 
(
	[IDDANCU] ASC,
	[THOIGIAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RAVAO_TAIKHOAN]    Script Date: 1/11/2022 10:04:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RAVAO_TAIKHOAN](
	[TENDN] [char](50) NOT NULL,
	[MATKHAU] [char](100) NULL,
	[HOTEN] [nvarchar](100) NULL,
	[NGAYSINH] [date] NULL,
	[GIOITINH] [nvarchar](10) NULL,
	[CMND] [char](30) NULL,
	[SDT] [char](12) NULL,
	[DIACHI] [nvarchar](150) NULL,
	[CHUCVU] [nvarchar](50) NULL,
	[QUYEN] [nvarchar](30) NULL,
	[HINHANH] [image] NULL,
PRIMARY KEY CLUSTERED 
(
	[TENDN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RAVAO_THOILUONG]    Script Date: 1/11/2022 10:04:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RAVAO_THOILUONG](
	[ID_THOILUONG] [int] IDENTITY(1,1) NOT NULL,
	[ID_DANCU] [nvarchar](40) NOT NULL,
	[NGAYHIENTAI] [date] NOT NULL,
	[GIORA] [time](7) NULL,
	[GIOVAO] [time](7) NULL,
	[LANTHU] [int] NULL,
 CONSTRAINT [pkey_1] PRIMARY KEY CLUSTERED 
(
	[ID_THOILUONG] ASC,
	[ID_DANCU] ASC,
	[NGAYHIENTAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RAVAO_TRANGTHAICAMERA]    Script Date: 1/11/2022 10:04:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RAVAO_TRANGTHAICAMERA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TAIKHOAN] [char](50) NULL,
	[TEN_NUT] [nvarchar](30) NULL,
	[TRANGTHAI] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[DANCU] ([MADCU], [CMND], [TENCUDAN], [NGAYSINH], [GIOITINH], [NOISINH], [QUEQUAN], [SDT], [DANTOC], [QUOCTICH], [NOITHUONGTRU], [NGAYCAP], [NOICAP], [TIENGDANTOC], [NGHENGHIEP], [EMAIL], [TRANGTHAI], [VAITRO], [MAPHONG], [NOILAMVIEC]) VALUES (N'101079203037110', N'079203037110', N'Nguyễn Hồng Quốc Việt', CAST(N'2003-06-27' AS Date), N'Nam', N'Thành phố Hồ Chí Minh', N'Tỉnh Thừa Thiên Huế', NULL, N'Kinh', N'Việt Nam', N'147 Phạm Văn Trí, phường 3,quận 6, Tp. HCM', CAST(N'2020-06-12' AS Date), N'CTCCSQLHCVTTXH', N'Kinh', N'Sinh Viên', NULL, 1, N'Bạn', N'101', NULL)
GO
INSERT [dbo].[PHONG] ([MAPHONG], [GIAPHONG], [SONGUOI], [TINHTRANGPHONG], [MATB], [MASUCO], [MATK], [MACN], [SOPHONG]) VALUES (N'101', 2200000, NULL, N'Mới', NULL, NULL, N'TP101', N'CN001', N'101')
INSERT [dbo].[PHONG] ([MAPHONG], [GIAPHONG], [SONGUOI], [TINHTRANGPHONG], [MATB], [MASUCO], [MATK], [MACN], [SOPHONG]) VALUES (N'102', 2000000, NULL, N'Mới', NULL, NULL, N'TP102', N'CN001', N'102')
INSERT [dbo].[PHONG] ([MAPHONG], [GIAPHONG], [SONGUOI], [TINHTRANGPHONG], [MATB], [MASUCO], [MATK], [MACN], [SOPHONG]) VALUES (N'103', 2000000, NULL, N'Mới', NULL, NULL, N'TP103', N'CN001', N'103')
GO
SET IDENTITY_INSERT [dbo].[RAVAO_HINH] ON 

INSERT [dbo].[RAVAO_HINH] ([IDHINH], [IDDANCU], [TENHINH]) VALUES (66, N'101082203001007', N'Cuong1-4.bmp')
SET IDENTITY_INSERT [dbo].[RAVAO_HINH] OFF
GO
SET IDENTITY_INSERT [dbo].[RAVAO_LAMAT] ON 

INSERT [dbo].[RAVAO_LAMAT] ([ID_LAMAT], [HINH], [CAMERA], [THOIDIEM]) VALUES (99, N'lamat1.png', N'Cổng vào', N'15/11/2021 10:22:58 PM')
SET IDENTITY_INSERT [dbo].[RAVAO_LAMAT] OFF
GO
INSERT [dbo].[RAVAO_LICHSU] ([IDDANCU], [THOIGIAN], [CAMERA]) VALUES (N'101079203037110', CAST(N'2021-11-13T18:43:27.160' AS DateTime), N'Cổng ra')
INSERT [dbo].[RAVAO_LICHSU] ([IDDANCU], [THOIGIAN], [CAMERA]) VALUES (N'101079203037110', CAST(N'2021-11-13T18:43:57.330' AS DateTime), N'Cổng vào')
INSERT [dbo].[RAVAO_LICHSU] ([IDDANCU], [THOIGIAN], [CAMERA]) VALUES (N'101079203037110', CAST(N'2021-11-13T18:47:40.220' AS DateTime), N'Cổng ra')
GO
INSERT [dbo].[RAVAO_TAIKHOAN] ([TENDN], [MATKHAU], [HOTEN], [NGAYSINH], [GIOITINH], [CMND], [SDT], [DIACHI], [CHUCVU], [QUYEN], [HINHANH]) VALUES (N'bao                                               ', N'1010                                                                                                ', N'Trần Văn Nghĩa', CAST(N'2000-05-07' AS Date), N'Nam', N'021234567                     ', N'0775124354  ', N'Hà Nội', N'SECURITY', N'0', NULL)
INSERT [dbo].[RAVAO_TAIKHOAN] ([TENDN], [MATKHAU], [HOTEN], [NGAYSINH], [GIOITINH], [CMND], [SDT], [DIACHI], [CHUCVU], [QUYEN], [HINHANH]) VALUES (N'duy                                               ', N'0307                                                                                                ', N'Trần Văn Duy', CAST(N'2000-03-07' AS Date), N'Nam', N'025957651                     ', N'0775682858  ', N'Hồ Chí Minh', N'ADMIN', N'1', NULL)
INSERT [dbo].[RAVAO_TAIKHOAN] ([TENDN], [MATKHAU], [HOTEN], [NGAYSINH], [GIOITINH], [CMND], [SDT], [DIACHI], [CHUCVU], [QUYEN], [HINHANH]) VALUES (N'minh                                              ', N'2812                                                                                                ', N'Trần Văn Nghĩa', CAST(N'2000-05-07' AS Date), N'Nam', N'021234567                     ', N'0775124354  ', N'Hà Nội', N'SECURITY', N'-1', NULL)
GO
SET IDENTITY_INSERT [dbo].[RAVAO_THOILUONG] ON 

INSERT [dbo].[RAVAO_THOILUONG] ([ID_THOILUONG], [ID_DANCU], [NGAYHIENTAI], [GIORA], [GIOVAO], [LANTHU]) VALUES (13, N'101079203037110', CAST(N'2021-11-13' AS Date), CAST(N'18:43:27' AS Time), CAST(N'18:43:57' AS Time), 1)
INSERT [dbo].[RAVAO_THOILUONG] ([ID_THOILUONG], [ID_DANCU], [NGAYHIENTAI], [GIORA], [GIOVAO], [LANTHU]) VALUES (14, N'101079203037110', CAST(N'2021-11-13' AS Date), CAST(N'18:47:40' AS Time), CAST(N'18:53:02' AS Time), 2)
INSERT [dbo].[RAVAO_THOILUONG] ([ID_THOILUONG], [ID_DANCU], [NGAYHIENTAI], [GIORA], [GIOVAO], [LANTHU]) VALUES (15, N'101079203037110', CAST(N'2021-11-13' AS Date), CAST(N'18:58:22' AS Time), CAST(N'18:58:52' AS Time), 3)
SET IDENTITY_INSERT [dbo].[RAVAO_THOILUONG] OFF
GO
ALTER TABLE [dbo].[DANCU]  WITH CHECK ADD  CONSTRAINT [FK_CUDAN_PHONG] FOREIGN KEY([MAPHONG])
REFERENCES [dbo].[PHONG] ([MAPHONG])
GO
ALTER TABLE [dbo].[DANCU] CHECK CONSTRAINT [FK_CUDAN_PHONG]
GO
ALTER TABLE [dbo].[PHONG]  WITH CHECK ADD  CONSTRAINT [FK_PHONG_CHINHANH] FOREIGN KEY([MACN])
REFERENCES [dbo].[CHINHANH] ([MACN])
GO
ALTER TABLE [dbo].[PHONG] CHECK CONSTRAINT [FK_PHONG_CHINHANH]
GO
ALTER TABLE [dbo].[PHONG]  WITH CHECK ADD  CONSTRAINT [FK_PHONG_SUCO] FOREIGN KEY([MASUCO])
REFERENCES [dbo].[SUCO] ([MASUCO])
GO
ALTER TABLE [dbo].[PHONG] CHECK CONSTRAINT [FK_PHONG_SUCO]
GO
ALTER TABLE [dbo].[PHONG]  WITH CHECK ADD  CONSTRAINT [FK_PHONG_TAIKHOAN] FOREIGN KEY([MATK])
REFERENCES [dbo].[TAIKHOAN] ([MATK])
GO
ALTER TABLE [dbo].[PHONG] CHECK CONSTRAINT [FK_PHONG_TAIKHOAN]
GO
ALTER TABLE [dbo].[PHONG]  WITH CHECK ADD  CONSTRAINT [FK_PHONG_THONGBAO] FOREIGN KEY([MATB])
REFERENCES [dbo].[THONGBAO] ([MATB])
GO
ALTER TABLE [dbo].[PHONG] CHECK CONSTRAINT [FK_PHONG_THONGBAO]
GO
ALTER TABLE [dbo].[RAVAO_HINH]  WITH CHECK ADD  CONSTRAINT [key_2] FOREIGN KEY([IDDANCU])
REFERENCES [dbo].[DANCU] ([MADCU])
GO
ALTER TABLE [dbo].[RAVAO_HINH] CHECK CONSTRAINT [key_2]
GO
ALTER TABLE [dbo].[RAVAO_LICHSU]  WITH CHECK ADD  CONSTRAINT [key_9] FOREIGN KEY([IDDANCU])
REFERENCES [dbo].[DANCU] ([MADCU])
GO
ALTER TABLE [dbo].[RAVAO_LICHSU] CHECK CONSTRAINT [key_9]
GO
ALTER TABLE [dbo].[RAVAO_THOILUONG]  WITH CHECK ADD  CONSTRAINT [pkey_2] FOREIGN KEY([ID_DANCU])
REFERENCES [dbo].[DANCU] ([MADCU])
GO
ALTER TABLE [dbo].[RAVAO_THOILUONG] CHECK CONSTRAINT [pkey_2]
GO
ALTER TABLE [dbo].[RAVAO_TRANGTHAICAMERA]  WITH CHECK ADD  CONSTRAINT [for_key10] FOREIGN KEY([TAIKHOAN])
REFERENCES [dbo].[RAVAO_TAIKHOAN] ([TENDN])
GO
ALTER TABLE [dbo].[RAVAO_TRANGTHAICAMERA] CHECK CONSTRAINT [for_key10]
GO
